    header{
        background-color: aquamarine;
        padding: 20px;
        border: 5px solid blueviolet;
        margin: 10px;
    }

    #intro{
        background-color: cadetblue;
        color: beige;
        padding: 10px;
        border: 5px solid burlywood;
        text-align: center;
    }

    button:hover{
        background-color: aqua;

    }

    h2{
        background-color: cornflowerblue;
        color: whitesmoke;
        border: 5px solid darkred;
        padding: 5px ;
        margin: 10px;
        text-align: center;
    }
    h1{
        background-color: crimson;
        color: beige;
        border: 5px solid black;
        padding: 5px;
        margin: 10px;
        text-align: center;
    }

    .teacher{
        background-color: coral;
        color: beige;
        border: 5px dashed black;
        padding: 5px;
        margin: 10px;
        text-align: center;
        box-shadow: 2px 0px 21px -3px crimson;
    }

    table{

        box-shadow: 2px 0px 21px -3px crimson;
    }
    nav{
        background-color: cadetblue;
        color: bisque;
        border: 5px solid crimson;
        padding: 5px;
        margin: 10px ;
        position: sticky;
        z-index: 2;
        top: 0;
    }
    ul{
        list-style-type: none;

    }
    li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 600;
    }
    
    li a :hover{
        color: crimson;
    }
    button{
        position: fixed;
        right: 50px;
        bottom: 40px;
    }